a {
  color: red;
}

.foo {
  color: green;
}

.foo .bar {
  color: orange;
}

.foo:not(.bar):not(.foo-bar),
.bar-foo {
  color: yellow;
}

#foo {
  color: blue;
}

.foo .foo:from('some/other/foo.css'):hover,
.bar #bar:from("./input.css") {
  color: purple;
}
