a {
  color: red;
}

.c2HtN {
  color: green;
}

.c2HtN .c2FVv {
  color: orange;
}

.c2HtN:not(.c2FVv):not(.HGD2j),
.cwEvQ {
  color: yellow;
}

#c2HtN {
  color: blue;
}

.c2HtN .wv99P:hover,
.c2FVv #hpHGE {
  color: purple;
}
