.b\:foo-b3HvZiMPEWPH {
  color: green;
}

.b\:foo-b3HvZiMPEWPH .b\:bar-CH3OYlugRtl1 {
  color: orange;
}

.b\:foo-b3HvZiMPEWPH:not(.b\:bar-CH3OYlugRtl1):not(.b\:foo-bar-gMswe7PXTedD),
.b\:bar-foo-ZIISF6\+XyNi4 {
  color: yellow;
}
